<!--<h1>Users#follow_list</h1>-->
<!--<p>Find me in app/views/users/follow_list.html.erb</p>-->

<div class="user container">
  <!-- プロフィール部分 -->
  <%= render partial: 'users/profile' %>
  
  <!-- フォローリスト部分 -->
  <h1>フォロー</h1>
  <% if @users.any? %>
    <ul class="users">
      <% @users.each do |user| %>
      <li>
        <div style="background: url('<%= image_url(user) %>'); background-position: 50%; background-size: cover;" class="image"></div>
        <%= link_to profile_path(user) do %>
          <span class="name"><%= user.name %></span>
        <% end %>
        <!--<div style="background: url('https://dummyimage.com/200/b492cc/fff'); background-position: 50%; background-size: cover;" class="image"></div>-->
        <!--<a href="#">-->
        <!--  <span class="name">田上士郎</span>-->
        <!--</a>-->
        <%= link_to user.followed_by?(current_user)? "フォロー解除": "フォローする", follow_path(user.id), class: "button" %>
        <!--<a class="button" href="#">フォロー解除</a>-->
      </li>
      <% end %>
      <li>
        <div style="background: url('https://dummyimage.com/200/fbe481/fff'); background-position: 50%; background-size: cover;" class="image"></div>
        <a href="#">
          <span class="name">中山五郎</span>
        </a>
        <a class="button" href="#">フォロー解除</a>
      </li>
      <li>
        <div style="background: url('https://dummyimage.com/200/64c99b/fff'); background-position: 50%; background-size: cover;" class="image"></div>
        <a href="#">
          <span class="name">山上睦郎</span>
        </a>
        <a class="button" href="#">フォロー解除</a>
      </li>
    </ul>
  <% else %>
    <p class="empty">ユーザーが存在しません。</p>
  <% end %>
</div>
